.hero-container {
  position: relative;
  display: flex;
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 50vh; /* Full viewport height */
  text-align: left; /* Left-side centering */
  color: white; /* White text */
  overflow: hidden; /* Ensure the video doesn't overflow */
  z-index: 2;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
  z-index: -1; /* Place the video behind the content */
}

.hero-header {
  max-width: 600px; /* Limit the width of the content */
}

.hero-logo {
  width: 100px; /* Adjust the logo size as needed */
  margin-bottom: 20px;
}

.hero-title {
  font-size: 4rem; /* Adjust the title size as needed */
  margin-bottom: 10px;
  width: 80%; /* Adjust width for smaller screens */
}

.hero-subtitle {
  font-size: 1.5rem; /* Adjust the subtitle size as needed */
  width: 80%; /* Adjust width for smaller screens */
}

.hero-button {
  background-color: rgb(70, 70, 70); /* Grey background */
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 15px; /* Rounded edges */
  padding: 10px 20px; /* Padding for the button */
  font-size: 1rem; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  margin-left: 20%; /* Same left margin as other elements */
}

.hero-button:hover {
  background-color: darkgrey; /* Darker grey on hover */
}

@media (max-width: 3000px) {
  .hero-title,
  .hero-subtitle,
  .hero-button {
    margin-left: 30%;
    margin-right: 30%;
  }
}

@media (max-width: 992px) {
  .hero-title,
  .hero-subtitle,
  .hero-button {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 768px) {
  .hero-title,
  .hero-subtitle,
  .hero-button {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 576px) {
  .hero-title,
  .hero-subtitle,
  .hero-button {
    margin-left: 2%;
    margin-right: 2%;
  }
}