/* Navbar.module.css */

.navbar {
  --navbar-height: 80px;
  height: var(--navbar-height);
  background-color: #101010;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


.navbar h1,
.navbar h2 {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
}

.links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: rgb(215, 215, 215);
  font-weight: 600;
  text-decoration: none;
}

.active-nav-link {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  color: white
}

.nav-logo {
  height: 50%;
  width: auto;
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
  }

  .header {
    width: 100%;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    height: 100%;
  }

  .links {
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #101010;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
    z-index: 3;
  }

  .links.show {
    height: calc(100vh - var(--navbar-height));
  }

  .menu-toggle {
    display: flex;
  }
}
