.footer {
    margin-top: 600px;
    background-color: #101010;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .footerSection {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footerSection h4 {
    margin-bottom: 10px;
  }
  
  .footerSection p {
    margin: 5px 0;
  }
  
  .footerSection a {
    color: white;
    text-decoration: none;
  }
  
  .footerSection a:hover {
    text-decoration: underline;
  }
  
  .footerBottom {
    border-top: 1px solid white;
    padding-top: 10px;
  }